*
{
    text-decoration: none;
    list-style: none;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 88%;
    padding: 20px 100px;
    background: green;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
}
.logo {
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}
.navbar a {
    font-size: 25px;
    color: black;
    font-weight: 250;
    padding: 0;
    margin: 0;
}
main {
    padding-top: 100px; 
}
.conten {
    height: 750px;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    align-items: center;
}
.conten-name {
    font-size: 4rem;
    font-weight: 700;
    margin: 5rem 0 1rem;
    padding-left: 35%;
}
p {
    padding-left: 40%;
}
.samping {
    margin-bottom: 25px;
    text-align: center;
}
.samping img {
    width: 100px;
    border-radius: 50%;
    margin-top: 55%;
}
.keterangan p {
    text-align: center;
    padding-left: 0.5%;
    color: black;
}
aside {
    background-color: aqua;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: rgb(77, 78, 77);
    width: 20%;
    overflow: hidden;
    transition: width 0.2s linear;
    padding: 0;
}
#hasil {
    margin-top: 20%;
    padding-left: 40%;
}
.bawah {
    position: fixed;
    width: 100%;
    background: gray;
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    bottom: 0;
}